<section class="cart-show">

<% if enhanced_cart.empty? %>
  <h2> Your Cart Is Empty </h2>
    <div class="alert alert-primary" role="alert">
      Please add an item to your cart before proceeding.
    </div>
   <%= link_to 'Back to Products', products_path %>

  <% else %>
    <%= render 'if_item' %>
  <% end %>
  </section>